{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>N. Comments</th>
                <th>Createat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.name }}</td>
                <td>{{ post.comments|length }}</td>
                <td>{{ post.createAt|date('d-m-Y') }}</td>
                <td>
                    <a href="{{ path('post_show', { 'id': post.id }) }}">show</a> |
                    <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('post_new') }}" class="btn btn-default">Create a new post</a>
    </p>
{% endblock %}
