{% extends 'base.html.twig' %}

{% block body %}

    <h1>{% if post.id %} Post edit {% else %} Post creation {% endif %}</h1>

    {{ form_start(form, { 'attr': { 'class': 'form-horizontal' } }) }}

    {{ form_errors(form.name) }}

    <div class="form-group">
        {{ form_label(form.name, null, { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
        <div class="col-sm-10">
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(form.name) }}
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
    {{ form_end(form, { 'render_rest': false }) }}

    <p>
        {% if post.id %}
            <a href="{{ path('post_show', { 'id': post.id }) }}">Back to detail</a>
        {% else %}
            <a href="{{ path('post_index') }}">Back to the list</a>
        {% endif %}
    </p>
{% endblock %}
