{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <dl>
        <dt>Name</dt>
        <dd>{{ post.name }}</dd>

        <dt>Create At</dt>
        <dd>{{ post.createAt|date('d-m-Y') }}</dd>
    </dl>
    <p>
        <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a> |
        <a id="btnDelete" href="javascript:void(0)">Delete</a>
    </p>

    <h2>Comments</h2>

    <div class="panel panel-default">
        <div class="panel-body">
            
            {{ form_start(comment_form) }}

                {# {{ form_widget(comment_form._token) }} #}
                {{ form_widget(comment_form.idPost) }}

                <div class="form-group">
                    {{ form_label(comment_form.description, "Add Comment", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
                    <div class="col-sm-10">
                        {{ form_widget(comment_form.description, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(comment_form.description) }}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Add</button>
                        </div>
                    </div>
                </div>
            
            {{ form_end(comment_form, { 'render_rest': false }) }}

        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Create At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comment in post.comments %}
            <tr>
                <td>{{ comment.description }}</td>
                <td>{{ comment.createAt|date('d-m-Y') }}</td>
                <td><a class="btnDeleteComment" href="javascript:void(0)" 
                    data-url="{{ path('post_comment_delete', { 'idComment': comment.id }) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('post_index') }}">Back to the list</a>
    </p>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

    $(function(){
        $("a.btnDeleteComment").click(function(){
            var aElement = this;
            if(confirm("Are you sure you want to delete this comment?")){
                var url = $(this).attr("data-url");

                $.post(url, function(){
                    $(aElement).parents('tr').remove();
                })
            }
        });

        $("a#btnDelete").click(function(){
            if(confirm("Are you sure you want to delete this post and comments?")){
                var url = "{{ path('post_delete', { 'id': post.id }) }}";

                $.post(url, function(){
                    window.location.href = "{{ path('post_index') }}";
                })
            }
        });
    });

</script>
{% endblock %}